<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Validade de Produtos</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

</head>
<body>
<div class="container" role="main">
    <!-- Botão de Logout -->
    <a href="{{ url_for('logout') }}" class="btn logout-button" role="button">Logout</a>
    
    <h1>Controle de Validade de Produtos</h1>
    <!-- Placeholder para mensagens de alerta dinâmicas -->
    <div id="alert-placeholder" aria-live="polite"></div>

    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    showAlert('{{ messages[0][1] }}', '{{ messages[0][0] }}');
                });
            </script>
        {% endif %}
    {% endwith %}

    <!-- Exibe produtos próximos da data de vencimento -->
    {% if products_near_expiry %}
        <div class="alert alert-warning" role="alert">
            <strong>Atenção:</strong> Os seguintes produtos estão próximos da data de vencimento:
            <ul>
                {% for product in products_near_expiry %}
                    <li>Descrição: {{ product[1] }}, Código de Barras: {{ product[2] }}, Data de Validade: {{ product[3] }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form action="{{ url_for('add_product') }}" method="POST" class="needs-validation" novalidate>
        <div class="form-row">
            <div class="col">
                <label for="description" class="sr-only">Descrição</label>
                <input type="text" class="form-control" id="description" name="description" placeholder="Descrição" required aria-required="true">
            </div>
            <div class="col">
                <label for="barcode" class="sr-only">Código de Barras</label>
                <input type="text" class="form-control" id="barcode" name="barcode" placeholder="Código de Barras" required aria-required="true">
            </div>
            <div class="col">
                <label for="expiry_date" class="sr-only">Data de Validade</label>
                <input type="date" class="form-control" id="expiry_date" name="expiry_date" required aria-required="true">
            </div>
        </div>
        <div class="btn-group" role="group" aria-label="Navegação">
            <button type="submit" class="btn btn-custom" onclick="showLoading()" aria-label="Adicionar Produto">Adicionar Produto</button>
            <a href="{{ url_for('show_products') }}" class="btn btn-custom">Mostrar Produtos</a>
        </div>
        <div id="loadingSpinner" class="spinner-border text-primary" role="status" aria-hidden="true">
            <span class="sr-only">Carregando...</span>
        </div>
    </form>
</div>

<footer class="footer bg-light text-center py-3">
    <div class="container">
        <span class="text-muted">Todos os direitos reservados &copy; 2024</span>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
